/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$main: #0277BD;

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.navbar-default {
  background-color: $main;
  // background: -webkit-linear-gradient(90deg, #795548 10%, #93F9B9 90%);
  // background:    -moz-linear-gradient(90deg, #795548 10%, #93F9B9 90%);
  // background:     -ms-linear-gradient(90deg, #795548 10%, #93F9B9 90%);
  // background:      -o-linear-gradient(90deg, #795548 10%, #93F9B9 90%);
  // background:         linear-gradient(90deg, #795548 10%, #93F9B9 90%);
	border-radius: 0;
	height: 64px;
	padding: 6px 0;
	border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  a {
    color: #fff !important;
  }
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 1.6em;
	font-weight: 300;
	color: #fff !important;
}

#jobs {
	.job {
		padding: 1em 0;
		border-bottom: 1px solid rgba(34, 34, 34, 0.1);
		h2 {
			font-size: 2.5em;
			font-weight: 300;
			margin-bottom: 0;
			color: $main;
			a {
				color: $main;
			}
		}
		p {
			color: rgba(34,34,34, 0.5);
		}
	}
}

#links {
	margin-top: 2em;
}
